[2022-06-09 10:02] p-netm commented on #1026
To start with, this is how EUSM had previously set to handle team assignments
https://github.com/opensrp/web/issues/538 see [last comment](https://github.com/opensrp/web/issues/538#issuecomment-803867623).

Currently the `400 Data integrity violation` is got because the plan's `enddate` is already past. From the api side you cannot make team assignments on an expired plan.

Whilst this is also a w

[2022-06-09 10:15] samkanga commented on #1026
@p-netm thank you for the feedback. A few follow-up comments:

At the time we encountered the 400 error we had 1 day to the plan end date. i.e. it was on 3rd June and the end date was reading 4th June. Would you know if the expiry kicks in a day before the last day?

On [this](https://unicef-mg-eusm.smartregister.org/opensrp/rest/organization/assignedLocationsAndPlans?plan=1b8e4785-33fd-529b-b673-

[2022-06-09 11:16] samkanga commented on #1026
Thanks @p-netm. On the last comment, does this mean that there is a likelihood that there were team assignment even if they are not there now? It would be helpful to verify this since the client has complained twice or thrice on lost team assignments.

I agree to the point that team assignments should not be possible once the plan is expired. I guess we may need to determine at what point expiry k

[2022-06-09 11:37] p-netm commented on #1026
As mentioned above I can update the enddates to a future date, so that I can retry the assignment, to test if the error also shows up for a plan that is yet to expire, want to know if its ok, or is the plan in current use.

[2022-06-13 07:50] p-netm commented on #1026
@samkanga
Moved the plan's end date to today `2022-06-13` its now 10:42a.m utc+3.
I tried re-assigning the Gareth team, which resulted in the same 400 data integrity violation error. I think plan expiry does not include the day of the enddate itself.

Moved the plan's end date to tomorrow `2022-06-14`.
I tried to re-assign the Gareth organization, this time assignments were sent successfully(got a

[2022-06-13 14:01] peterMuriuki opened #1027 "[Bug Report]: Keycloak logout is broken"
### Affected Project

*

### How to replicate

login and try logging out

you get this error:
![image](https://user-images.githubusercontent.com/28119869/173370450-51348568-2120-41ef-a606-0e08a3c84d74.png)

This error is due to changes in the redirection logout mechanism in keycloak v18, [read more here](https://www.keycloak.org/2022/04/keycloak-1800-released.html#_openid_connect_logout). we need

[2022-06-21 05:19] machariamuguku opened #1030 "[New Feature Request]: Disable default in-lining of scripts and images"
### Feature Use Case

Disable default in-lining of scripts and images. These are prevented by default by CSP policy and need to be overridden by adding the `unsafe-inline` header. Can fortify security by disabling this from react build. Set `INLINE_RUNTIME_CHUNK=false` and `IMAGE_INLINE_SIZE_LIMIT=0` on .env (ansible and helm). Resource: https://drag13.io/posts/react-inline-runtimer-chunk/index.ht

[2022-06-22 09:03] machariamuguku opened #1031 "[New Feature Request]:"
### Feature Use Case

remove jquery dependency on web repo and csp headers on helm and ansible. Tied to #1030

### Acceptance criteria

no jquery dependency

### Project Contact

_No response_

### Relevant Information

_No response_

[2022-06-22 11:59] samkanga opened #1032 "[Deployment Support]: Upgrade JQuery to version 3.6 on Wellness Pass"
### Which project requires this deployment?

Wellness Pass

### How urgent is this deployment?

LOW (can wait for the next 7 -14 days)

### What type of deployment is this?

Preview

### Where is the deployment hosted?

Ona AWS

### Project Contact

Samuel Kang'a

### Deployment deadlines

30th June 2022

### Provide the Keycloak URL

https://keycloak.wellnesspass-preview.smartregister.org/auth/ad

[2022-06-22 12:01] samkanga opened #1033 "[Deployment Support]: Upgrade JQuery to latest or Remove if not required."
### Which project requires this deployment?

Wellness Pass Production Instance

### How urgent is this deployment?

LOW (can wait for the next 7 -14 days)

### What type of deployment is this?

Production

### Where is the deployment hosted?

Ona AWS

### Project Contact

Samuel Kang'a

### Deployment deadlines

30th June 2022

### Provide the Keycloak URL

https://keycloak.wp.smartregister.org/au

[2022-06-22 13:38] dubdabasoduba commented on #1032
https://github.com/opensrp/web/issues/1032 Duplicate.

@samkanga We can create a deployment issue once the issue is fixed.

[2022-06-22 13:39] #1032 closed

[2022-06-24 09:58] #959 closed

[2022-07-05 14:44] charlene-570 opened #1039 "Save Button on Location units > Add Service Point is unresponsive"
OpenSRP web
Web version- v2.1.0-beta

### How to replicate

-Login web app using demo credentioal
-Navigate to Location units under Location management
-Click on the Add Service point button
-Enter the correct details
-Click on the save button

### Error description

-Fails with the error v2/settings failed HTTP status code 403
-The save button is unresponsive see screenshot attached

![Screenshot

[2022-07-07 12:42] #1033 closed

[2022-07-07 13:36] #994 closed

[2022-07-07 13:36] #1013 closed

[2022-07-07 13:36] #1023 closed

[2022-07-07 14:10] machariamuguku commented on #1031
closed with #1033

[2022-07-22 12:17] machariamuguku commented on #1025
- fixed
- updated docker compose documentation on [docker hub](https://hub.docker.com/r/opensrp/web) with these https://github.com/onaio/infrastructure/issues/5951 and https://github.com/onaio/infrastructure/issues/6009

[2022-07-22 12:17] #1025 closed

[2022-08-01 10:31] dubdabasoduba opened #1047 "[Bug Report]: Server settings module for the ANC reference app is broken"
### Affected Project

WHO ANC

### How to replicate

- Login to an instance with the server settings enabled.
- Click on the server settings menu, this should redirect you to the page loading the population characteristics (at least for WHO ANC)
- This page allows you to update the setting to either yes or no. If a location does not set its own setting then the values are inherited from the parent

[2022-08-01 10:35] dubdabasoduba opened #1048 "[FHIR Road Map]: Update the FHIR web them to the light AntD theme"
### Issue Context?

- We currently have the dark theme for the FHIR web project. We are doing some rebranding and would need to test out the antd light theme.

### Issue Implemetation details?

- Update the antd theme setting to use the light them instead of the current dark theme
- This should follow the correct antd theming standards https://ant.design/components/layout/

### Issue Acceptance cr

[2022-08-01 10:38] dubdabasoduba opened #1049 "[FHIR Road Map]: Update the FHIR web logo branding"
### Issue Context?

- We currently have the dark theme for the FHIR web project. We are doing some rebranding and would need to test out the new FHIR Web branding.

### Issue Implemetation details?

- Design the initial drafts for the FHIR web logo
- Update the FHIR web logo to match the new one provided by the design team

### Issue Acceptance criteria?

- [ ]  New logo added to FHIR web as per t

[2022-08-03 07:20] gosso22 opened #1050 "Failed to deploy FHIR web"
### Issue Context?

I want to run Web to work with FHIR. I am using docker image from here https://hub.docker.com/r/opensrp/web, and configured variables as outlined in the documentation. When I run it locally, it starts successfully and takes me to keycloak to sign in. When I provide username and password, it logs in and logs out instantly so it takes me back to login page.

### Issue Implemetati

[2022-08-03 07:33] LZRS commented on #1050
cc @Gental-Giant

[2022-08-03 07:39] machariamuguku commented on #1050
@gosso22 if you're running it locally change this `NODE_ENV=production` env to `NODE_ENV=development`

[2022-08-03 08:12] gosso22 commented on #1050
@machariamuguku - I am getting the same after changing from `NODE_ENV=production` to `NODE_ENV=development`

[2022-08-03 08:14] machariamuguku commented on #1050
@gosso22 share your envs on slack

[2022-08-03 09:40] dubdabasoduba opened #1051 "[FHIR Tech Debt]: Update the Plan view package to use the correct OpenSRP service class"
### Issue Context?

- The is to fix the FHIR web sessions and token refresh

### Issue Implemetation details?

- [ ] Update the Plan package to use the service class used by the other packages.

### Issue Acceptance criteria?

- [ ] Login to FHIR web then add the plan package.
- [ ] Leave FHIR web for about 10mins to let the token expire.
- [ ] Reload the Plans and see whether the token is auto re

[2022-08-03 13:19] HenryRae commented on #1049
@p-netm please find the attached logo sizes. We can try logo heights of 28px, 30px, but if it's looks big, try attached logo with 22px height, might be smaller but will visually fit.

![28px Height](https://user-images.githubusercontent.com/31955469/182616447-fa55b7ea-287e-420e-bc4e-c33315c8709e.png)
![30px Height](https://user-images.githubusercontent.com/31955469/182616469-5fe058a6-2f40-475a-9b3

[2022-08-08 07:46] p-netm commented on #1017
This just needs QA.

[2022-08-08 07:46] #1017 closed

[2022-08-08 07:56] p-netm commented on #1039
@charlene-570 I was not able to replicate this, closing, but reopen if you think this is still an issue.

I noticed that the version in the screenshot is a `beta` version which is different than than what is currently deployed.

[2022-08-08 07:56] #1039 closed

[2022-08-08 08:36] p-netm commented on #1049
![image](https://user-images.githubusercontent.com/28119869/183376086-ea90573e-5cac-4487-8a4e-54fe9e9c0d31.png)

[2022-08-12 12:22] SebaMutuku opened #1054 "[Bug Report]: SID indonesia web shows population characteristics but with an error message"
### Affected Project

WHO-ANC web version v1.1.24

### How to replicate

Login to` https://web.ancs.dev.sid-indonesia.org/admin/server-settings` (Ensure to use a user with admin priviledges)
Navigate to settings page and you will see a below similar screenshot.
![Screenshot from 2022-08-12 15-02-08](https://user-images.githubusercontent.com/36365043/184351538-24086004-8e08-4fb5-8f9b-afba1161894a.p

[2022-08-15 08:34] #1051 closed

[2022-08-15 11:11] #1027 closed, assigned to nobody

[2022-08-17 11:29] AnnieMungai opened #1057 "[Deployment Support]: eCBIS OpenSRP FHIR Web preview instance set-up"
### Which project requires this deployment?

eCBIS Liberia

### How urgent is this deployment?

MEDIUM (Will be urgent in the next 3 - 7 days)

### What type of deployment is this?

Preview

### Where is the deployment hosted?

Ona AWS

### Project Contact

Anne Mungai

### Deployment deadlines

22nd August 2022

### Provide the Keycloak URL

preview.ecbis

### Provide the Keycloak Realm

preview.

[2022-08-18 08:46] SebaMutuku commented on #1054
issue resolved

[2022-08-18 08:46] #1054 closed

[2022-08-18 09:55] gosso22 opened #1058 "[Bug Report]: FHIR Web - When adding a Location Unit it doesnt show up right a way"
### Affected Project

Malawi CORE

### How to replicate

Login into FHIR Web, then go to Location Unit under Location Management. Add a new location, enter the details. After you save the location unit, it will not show up in the list even after refreshing. Log out and login, the location unit will appear

### Acceptance criteria

When you create a new location unit, it should appear once you save

[2022-08-18 09:56] gosso22 commented on #1058
@machariamuguku

[2022-08-23 09:30] machariamuguku opened #1060 "[FHIR Road Map]: Whitelist fhir server for CSP Policy"
### Issue Context?

Add option to whitelist fhir server for CSP policy on opensrp web helm chart

### Issue Implemetation details?

Add option config here https://github.com/opensrp/helm-charts/blob/b332638966092ea30103b7ef40b166d521af0d9e/charts/opensrp-web/values.yaml#L205

### Issue Acceptance criteria?

FHIR server is whitelisted by default on chart

### FHIR resources to be used?

_No respons

[2022-08-23 14:35] machariamuguku commented on #1050
## Fixed by:
1. Changed to image with user details and login fix (v2.1.1-rc-1). Enables getting user details directly from keyckloak
2. Updated keyckloak to a version >= 12. Keyckloak versions prior to 12 had a bug that prevented roles from being attached to the userinfo endpoint. https://github.com/keycloak/keycloak/pull/7408
3. Updated the EXPRESS_OPENSRP_USER_URL and REACT_APP_OPENSRP_USER_URL

[2022-08-23 14:35] #1050 closed

[2022-08-24 06:08] samkanga commented on #732
Closing this issue as this scope of work was deprioritised.

[2022-08-24 06:08] #732 closed

[2022-08-24 06:09] samkanga commented on #741
Closing this issue as this scope of work was deprioritised.

[2022-08-24 06:09] #741 closed

[2022-08-24 06:09] samkanga commented on #740
Closing this issue as this scope of work was deprioritised.

[2022-08-24 06:09] #740 closed

[2022-08-24 06:09] samkanga commented on #739
Closing this issue as this scope of work was deprioritised.

[2022-08-24 06:09] #739 closed

[2022-08-24 06:09] samkanga commented on #734
Closing this issue as this scope of work was deprioritised.

[2022-08-24 06:09] #734 closed

[2022-08-24 06:10] samkanga commented on #738
Closing this issue as this scope of work was deprioritised.

[2022-08-24 06:10] #738 closed

[2022-08-24 06:10] samkanga commented on #737
Closing this issue as this scope of work was deprioritised.

[2022-08-24 06:10] #737 closed

[2022-08-24 06:10] samkanga commented on #736
Closing this issue as this scope of work was deprioritised.

[2022-08-24 06:10] #736 closed

[2022-08-24 06:10] samkanga commented on #731
Closing this issue as this scope of work was deprioritised.

[2022-08-24 06:10] #731 closed

[2022-08-24 06:11] samkanga commented on #733
Closing this issue as this scope of work was deprioritised.

[2022-08-24 06:11] #733 closed

[2022-08-24 06:11] samkanga commented on #735
Closing this issue as this scope of work was deprioritised.

[2022-08-24 06:11] #735 closed

[2022-08-24 09:30] p-netm commented on #655
Stale issue

[2022-08-24 09:30] #655 closed

[2022-08-24 13:08] machariamuguku commented on #1054
@SebaMutuku could you add how the issue was resolved here for posterity?

[2022-08-24 13:14] #1049 closed

[2022-08-24 13:18] #1058 closed

[2022-08-24 13:42] #1057 closed

[2022-08-26 08:57] SebaMutuku commented on #1054
@machariamuguk we had to clear test database tables `server_settings` and `server_settings_metadata` then synced the settings from the app. This created new data based on the logged in user and user assigned location. We came into this conclusion coz the data originally saved in these two table was posted via postmann.

[2022-08-29 15:10] dubdabasoduba opened #1063 "[FHIR Road Map]: Display a list of Commodities on a table."
### Issue Context?
- We would like to list out all the commodities on a specific FHIR Core set-up.
- This will be displayed on a table with the same look and feel as the other tables on the platform.
    - This should happen after clicking the [Commodity Management menu](https://github.com/opensrp/web/issues/1064) on the navigation bar.
- We are using the [group resource](https://www.hl7.org/fhir/

[2022-08-29 15:23] dubdabasoduba opened #1064 "[FHIR Road Map]: Add a Commodity Management menu to the FHIR Web navigation"
### Issue Context?

- We are tracking commodities on via the [FHIR group resource](https://www.hl7.org/fhir/group.html).
- We need to add a menu item to the navigation drawer

### Issue Implemetation details?

- [ ] Create a Menu Item named `Commodity Management
- [ ] The menu should have the following attribute.
    - [ ] The menu should only be shown if the commodity module is shown.
    - [ ] C

[2022-08-29 22:19] dubdabasoduba opened #1065 "[FHIR Road Map]: Create the Commodity Add/Edit Page."
### Issue Context?

- We are tracking commodities on via the [FHIR group resource](https://www.hl7.org/fhir/group.html).
- We need to create a page to Add/Edit the Commodities.

### Issue Implemetation details?

- [ ] The page should be accessed after clicking `Add Commodity`/ `Edit` on the[ Commodity List-display page](https://github.com/opensrp/web/issues/1063).
- [ ] If, the page loaded after c

[2022-09-01 07:41] machariamuguku opened #1066 "[Deployment Support]: Update all openSRP/FHIR staging instances to use redis session store"
### Which project requires this deployment?

ALL Staging Instances

### How urgent is this deployment?

LOW (can wait for the next 7 -14 days)

### What type of deployment is this?

Staging

### Where is the deployment hosted?

Ona AWS

### Project Contact

_No response_

### Deployment deadlines

16th Sep 2022

### Provide the Keycloak URL

keycloak-stage.smartregister.org

### Provide the Keyclo

[2022-09-01 09:04] Naima-Bashir opened #1067 "[Bug Report]: Unable to login to OpenSRP Web"
### Affected Project

WHO ANC

### How to replicate

The Bluecode team are having login issues.
The web freezes everytime they try to login.
Here is a related[ ticket](https://github.com/opensrp/opensrp-client-anc/issues/867) that talks about the OpenSRP web isn't communicating with keycloack.

This is the error they are getting:
` 2022/08/24 08:16:21 [error] 639706#639706: *157 upstream timed out

[2022-09-01 09:04] Naima-Bashir commented on #1067
[Here](https://github.com/opensrp/opensrp-client-anc/issues/884) is the ticket that was created by the Bluecode client

[2022-09-01 10:37] machariamuguku commented on #1067
@chobela could you share with me login credentials for this instance on slack? cc @Naima-Bashir

[2022-09-02 12:55] Naima-Bashir commented on #1067
The Bluecode team  to share the following:
1.  Keyckloak login credentials
2. The latest docker-compose file
3. The latest config.js.tpl

Preliminary investigations however point to two possibilities:
Wrongly configured nginx. Times out when request takes too long
Double EXPRESS_SESSION_FILESTORE_PATH envs

[2022-09-05 13:24] p-netm commented on #1065
This link is broken

[2022-09-06 20:04] #1063 closed

[2022-09-07 09:40] #1065 closed

[2022-09-07 09:41] p-netm commented on #1064
closed in #1071

[2022-09-07 09:41] #1064 closed

[2022-09-08 00:46] machariamuguku opened #1073 "[Bug Report]: The User management card is activated by default"
### Affected Project

ALL

### How to replicate

When you run a fresh deployment with all modules toggled off, the user management module is toggled on by default.

### Acceptance criteria

Toggled off by default

### Project Contact

_No response_

### Relevant Information

because we're not checking for the `ENABLE_USER_MANAGEMENT` toggle here https://github.com/opensrp/web/blob/2a27d6ec0effdcf2

[2022-09-08 00:53] machariamuguku commented on #1067
Fixed by re-deploying with the[ latest OpenSRP web version](https://github.com/opensrp/web/releases/tag/v2.3.0) and [docker configs](https://github.com/opensrp/web/blob/master/docs/how-to-use-docker-image.md).

[2022-09-08 00:53] #1067 closed

[2022-09-08 05:28] chobela commented on #1067
Hi @machariamuguku thanks. at this point, are you able to confirm that it is not an nginx issue?

[2022-09-08 07:35] Naima-Bashir commented on #1067
That's great @chobela , thank you @machariamuguku

[2022-09-08 09:48] #1026 closed

[2022-09-08 12:59] dubdabasoduba commented on #1065
@p-netm Thanks for the heads up. The link is updated https://github.com/opensrp/fhir-resources/tree/main/ecbis/groups/supply_chain/commodities

[2022-09-09 09:29] charlene-570 opened #1075 "[Bug Report]: Search functionality under Commodity List is unresponsive"
### Affected Project

OpenSRP

### How to replicate

**Steps to replicate:**

1.Login openSRP web
2.Click on the Commodity Module under Menu
3.Click on search

### Acceptance criteria

-User should click on the search input box
-User should view search results

### Project Contact

_No response_

### Relevant Information

_No response_

[2022-09-12 00:38] machariamuguku commented on #1060
closed here https://github.com/opensrp/helm-charts/pull/68

[2022-09-12 00:38] #1060 closed

[2022-09-12 10:50] dubdabasoduba commented on #1075
@charlene-570 this has been disabled because the group doesn't allow search by name.

[2022-09-14 04:25] machariamuguku opened #1077 "[Deployment Support]: Switch all production deployments to standalone redis session storage with two replicas"
### Which project requires this deployment?

ALL Prod Instances

### How urgent is this deployment?

LOW (can wait for the next 7 -14 days)

### What type of deployment is this?

Production

### Where is the deployment hosted?

Ona AWS

### Project Contact

_No response_

### Deployment deadlines

23rd Sep 2022

### Provide the Keycloak URL

https://keycloak-stage.smartregister.org

### Provide th

[2022-09-14 04:25] machariamuguku commented on #1077
cross-posted here https://github.com/onaio/infrastructure/issues/6041

[2022-09-14 09:28] #1066 closed

[2022-09-14 10:03] machariamuguku opened #1078 "Fix default logo case to comply to csp policy"
- The logo casing [here](https://github.com/opensrp/helm-charts/blob/main/charts/opensrp-web/values.yaml#L142) does not comply with csp header whitelisting
- cross-posted from [here](https://github.com/opensrp/helm-charts/issues/71)

[2022-09-14 10:18] #1078 closed

[2022-09-16 00:05] dubdabasoduba opened #1079 "[FHIR Road Map]: Update the CareTeam Package to add the Organization reference."
### Issue Context?

- The CareTeam will be used to assign users who take direct care of patients.
- The CareTeam however, doesn't directly link to a Location resource. We establish this link through the Organization resource.
- We need to update the CareTeam package to add the organization reference creation.
- One CareTeam can have multiple managing organizations.

### Issue Implemetation details

[2022-09-16 00:37] dubdabasoduba opened #1080 "[FHIR Road Map]: Update the Team (Organization) package"
### Issue Context?

- FHIR web current has a Team (Organization) package.
- We are introducing the changes to the UI of the Team (Organization) package.

### Issue Implemetation details?

#### Team creation page
- [x] Hide the Type field from the Team creation page.
       - [ ] The type population will now be abstracted from the user. We will only have one type of code added to all the organizati

[2022-09-16 01:12] dubdabasoduba opened #1081 "[FHIR Road Map]: Update the Location package"
### Issue Context?

- FHIR web current has a Location Management package.
- We are introducing the changes to the UI of the Location Management package.

### Issue Implemetation details?

#### Location Menu
- [ ] Remove the **Location Unit Group**  menu from the FHIR location module.
    - [ ] The Location Unit Group(s) are not required on FHIR. We can fully deprecate that functionality.

#### Loc

[2022-09-16 01:49] dubdabasoduba opened #1082 "[FHIR Road Map]: User Management package update"
### Issue Context?

- FHIR web current has a User Management package.
- We are introducing the changes to the UI of the User Management package.

### Issue Implemetation details?

#### User Management
##### User Management display page
- [x] Remove the email column from the table.

##### User Management Add/Edit Page
- [x] The **_Enable User_** field option **_Yes_** should always be selected for

[2022-09-16 02:06] dubdabasoduba opened #1083 "[FHIR Road Map]: Navigation and General updates."
### Issue Context?

- We will be making a couple of changes to the navigation menu of the platform.

### Issue Implemetation details?

#### Navigation menu changes
- [ ] Remove the Groups Management and HealthCare services menus from the FHIR web navigation menu. These modules are not immediately required for FHIR Core.
- [x] Update the **_Questionnaire_** menu to **_Questionnaire Management_**

#

[2022-09-16 02:07] #1015 closed

[2022-09-16 02:08] #588 closed

[2022-09-16 02:09] ashfahan commented on #588
🎉

[2022-09-16 02:20] dubdabasoduba opened #1084 "[FHIR Road Map]: Commodity Package updates"
### Issue Context?

- FHIR web current has a Commodity Management package.
- We are introducing the changes to the UI of the Commodity Management package.

### Issue Implemetation details?

#### Commodity Add/Edit Page
- [x] Re-Order the commodity status field.
    - [x]  The **_Active_** status should be the first. It should also be auto-selected for all the new commodity creations
![image](https

[2022-09-16 04:49] machariamuguku opened #1085 "[Deployment Support]: Switch all preview deployments to stand alone redis session storage"
- update all fhir/opensrp web deployments to use standalone redis session storage with two replicas
- bump versions to latest release

[2022-09-16 10:20] p-netm commented on #1083
Already currently handled by using envs

[2022-09-19 12:07] p-netm commented on #1082
Could you say this in another way @dubdabasoduba

[2022-09-19 12:24] p-netm commented on #1082
Which if these maps to the `resource.identifier` and `resource.id`

[2022-09-20 11:36] #1073 closed

[2022-09-20 12:52] #1030 closed

[2022-09-20 15:06] Gental-Giant opened #1090 "[Deployment Support]: MWCore FHIR Web Instance"
### Which project requires this deployment?

D-Tree Malawi

### How urgent is this deployment?

HIGH (Needs to be worked on now)

### What type of deployment is this?

Production

### Where is the deployment hosted?

Client Virtual server (AWS, AZURE, AliCloud, e.t.c)

### Project Contact
- @Gental-Giant (Harun Kimani)
- @LZRS  (Lazarus)

### Deployment deadlines

27th Sept 2022

### Provide the K

[2022-09-20 15:34] Gental-Giant opened #1091 "[FHIR Road Map]: FHIR Web Security Remediation"
### Issue Context?

Security scans were conducted on  [OpenSRP FHIR Web -version 2.3.1](https://github.com/onaio/infrastructure/files/9574502/opensrp-web-v2-3-1.zip)

### Issue Implemetation details?

- Snyk Results : [OpenSRP-Web-Snyk-Results.txt](https://github.com/onaio/infrastructure/files/9574269/OpenSRP-Web-Snyk-Results.txt)

- Affected base image(s): node:14.9.0-alpine

More deatils availab

[2022-09-20 15:43] dubdabasoduba commented on #1091
@machariamuguku @p-netm please review and give updates on the LOE

[2022-09-20 15:50] dubdabasoduba commented on #1090
@Gental-Giant The delivery on this might be blocked by this https://github.com/opensrp/web/issues/1091 ticket. Will update further after LOEs are given.

[2022-09-20 16:29] bennsimon commented on #1090
@Gental-Giant @dubdabasoduba Whoever will pick this up will need to update deployment files here https://github.com/onaio/infra-dtree-malawi/blob/deployment-setup/helm/releases/passion.k8s.dtree.org.local/fhir/fhir-web
.

[2022-09-21 09:24] p-netm commented on #1082
left align both header and content e.g. user Groups list view

[2022-09-21 09:25] p-netm commented on #1082
uuid -> `resource.identifier`

[2022-09-22 04:10] machariamuguku commented on #1091
@Gental-Giant
1. We're already on nodejs version [`16.14.0`](https://hub.docker.com/layers/opensrp/web/v2.3.1/images/sha256-793f7e1108eccdf60508f2c74b48fdd2ad55665e0a6789f92554481f4098c21f?context=explore) and we'll be on [`16.16.0`](https://github.com/opensrp/web/blob/1869ae159e7fbdc992aeca78ded308a19db4059d/Dockerfile#L5) by the next release. We've not been on version 14.9.0 since [`opensrp web/

[2022-09-22 04:10] #1091 closed

[2022-09-22 08:26] #1080 closed

[2022-09-22 08:26] #1084 closed

[2022-09-22 08:58] machariamuguku commented on #1090
closed by:
- https://github.com/onaio/infra-dtree-malawi/commit/dd0e560bb0c5623bf0ca74ddb5dddfa864128bda
- https://github.com/onaio/infra-dtree-malawi/commit/237f630b23573842ed963248dba0aadd08a54674

[2022-09-22 08:58] #1090 closed

[2022-09-22 11:31] #1083 closed

[2022-09-22 13:39] Naima-Bashir commented on #1054
Closing this with client approval

[2022-09-26 09:23] machariamuguku commented on #1085
wait for https://github.com/onaio/infrastructure/pull/6206

[2022-09-26 09:24] #1085 closed

[2022-09-26 16:59] #551 closed

[2022-09-26 16:59] #586 closed

[2022-09-27 21:29] dubdabasoduba opened #1094 "[FHIR Road Map]: Update the User Management module to create a Group resource for the practitioner resource."
### Issue Context?

- We currently generate a practitioner resource when we create a user on Keycloak.
- These practitioner resources tie the keycloak users with the FHIR representation of a users.
- We would like to attach some schedules for these practitioners.
- Schedules are currently, tracked through the CarePlan resource and tied to either a patient or a group.
- We would like to generate a

[2022-09-28 22:52] dubdabasoduba opened #1095 "[FHIR Road Map]: Add the Practitioner Roles assignment to users during user creation."
### Issue Context?

- FHIR Core Is introducing a Supervisor module. This means we will be targetting 2 types of users ` Supervisors & `Normal Practitioners`.
- This means we would want to assign practitioner roles on HAPI FHIR through the PractitionerRole resource.
- The PractitionerRole will be used to identify the supervisors when they login to the apps.log in

### Issue Implemetation details?

[2022-09-29 08:34] p-netm opened #1096 "Clicking on the User Role selection checkbox is not clickable. The click action seems to be on the text (role name). Add the clicking ability on the checkbox too.Screencast from 09-16-2022 01:33:27 AM.webm"

[2022-09-29 13:06] #1096 closed

[2022-09-29 23:36] #972 closed

[2022-09-30 03:02] machariamuguku commented on #1094
@dubdabasoduba could you attach a sample complete payload

[2022-09-30 09:10] dubdabasoduba commented on #1094
@machariamuguku

[code]

[2022-09-30 09:59] machariamuguku commented on #1094
@dubdabasoduba should the id and identifier official value be the same? The details above seem to indicate that

[2022-09-30 10:15] AnnieMungai opened #1097 "UNICEF Tunisia: Preview web not accessible"
### Affected Project

UNICEF Tunisia

### How to replicate

Type in the url of the web: https://web.unicef-tunisia-preview.smartregister.org/
The user gets an error message.

![IMG_20220930_101029](https://user-images.githubusercontent.com/58034047/193248513-077a49ca-65fb-4faf-8682-704d5f6a6ef2.jpg)

### Acceptance criteria

- Users can access the preview server, be able to log in and conduct task

[2022-09-30 10:44] dubdabasoduba commented on #1094
Not necessarily they can be different but we can make them the same for this implementation.

[2022-10-01 17:53] dubdabasoduba commented on #1097
@AnnieMungai This is now fixed

[2022-10-01 17:53] #1097 closed

[2022-10-03 06:20] Gental-Giant opened #1098 "[Bug Report]: MWCore FHIR Web instance"
### Affected Project

Dtree malawi

### How to replicate

Endpoints:
- FHIR Server is on fhir.d-tree.org
- Keycloak is on keycloak.d-tree.org

FHIR Web
- Location Units are not loading
- Location Unit groups not loading
*The above is affecting Team Assignment, due to locationsHierachy

- Cannot create a Team Management. The Add Group button is not working
- Create Questionnaire button not working

[2022-10-03 06:33] machariamuguku commented on #1098
@Gental-Giant does this root location identifier exist on the server? https://github.com/onaio/infra-dtree-malawi/blob/f7af61b6bbbb2b128567ac534f46f129ba76a0c9/helm/releases/passion.k8s.dtree.org.local/fhir/fhir-web/values.yaml#L69

[2022-10-03 07:02] Gental-Giant commented on #1098
@bennsimon Can you confirm if #1 exists on server?

[2022-10-03 07:06] Gental-Giant commented on #1098
Yes. clicking on add group does not seem to work @machariamuguku

[2022-10-03 07:07] Gental-Giant commented on #1098
@machariamuguku I'm not in a position to check the details as requested. Can you confirm?

[2022-10-03 07:13] machariamuguku commented on #1098
@Gental-Giant @bennsimon this is the structure

[code]

[2022-10-03 07:14] bennsimon commented on #1098
@dubdabasoduba Could you kindly assist with documentation of what it takes to make the fhir server/web ready for use?

[2022-10-03 07:19] dubdabasoduba commented on #1098
@machariamuguku please disable the groups management module. It is not needed for any web deployment right now

[2022-10-03 08:06] #1082 closed

[2022-10-03 08:07] #1079 closed

[2022-10-03 11:53] dubdabasoduba commented on #1098
@bennsimon Did you complete the location creation via the API? If yes please close this issue

[2022-10-03 12:01] bennsimon commented on #1098
@dubdabasoduba No, I have not done it, I am not familiar with fhir server APIs. Can someone pick it up?

[2022-10-03 12:56] dubdabasoduba commented on #1098
@LZRS Please see the following.

Post the following payload to the MWCore prod HAPI Instance.

[code]

[2022-10-04 11:11] LZRS commented on #1098
@dubdabasoduba It's done

[2022-10-04 11:19] dubdabasoduba commented on #1098
@Gental-Giant please test the location pieces right now.

[2022-10-04 11:23] Gental-Giant commented on #1098
@dubdabasoduba @LZRS Still getting an error. See the screenshot below:
![image](https://user-images.githubusercontent.com/52551080/193806780-2401752d-8faf-473a-901a-0d20cf0c1c3a.png)

[2022-10-04 14:15] machariamuguku commented on #1098
@dubdabasoduba @LZRS fhir server throws an error for the endpoint with the allocated root location hierarchy `https://fhir.d-tree.org/fhir/LocationHierarchy/_search?identifier=eff94f33-c356-4634-8795-d52340706ba9`

`
{
  "resourceType": "OperationOutcome",
  "text": {
    "status": "generated",
    "div": "<div xmlns=\"http://www.w3.org/1999/xhtml\"><h1>Operation Outcome</h1><table border=\"0\"><t

[2022-10-05 09:02] dubdabasoduba commented on #1098
@Gental-Giant This issue addresses removing of the location unit groups https://github.com/opensrp/web/issues/1081

This deployment will be updated once we are done.

[2022-10-05 09:54] machariamuguku commented on #1012
Preliminary investigation shows that `lerna bootstrap` called via `lerna:prepublish` creates packages symlinks in the root `node_modules` folder. Other modules inside `packages/` are able to read the symlinks but the `app/` package is not able to. Maybe an issue with how CRA works on windows? Needs further investigation

[2022-10-05 10:18] #1081 closed

[2022-10-06 14:11] #1098 closed

[2022-10-14 09:20] p-netm opened #1102 "DIsable practitioner when associated user is disabled"
### Issue Context?

Might require validating.

This line https://github.com/opensrp/web/blob/9c60f5d81d5aea4cbb2ca1716991c7664ef1a6c7/packages/fhir-keycloak-user-management/src/components/CreateEditUser/index.tsx#L63, seems to suggest that disabling users i.e. toggling the `enable user` field to false for example on this page: https://fhir-web.opensrp-stage.smartregister.org/admin/users/edit/d8779

[2022-10-14 09:56] p-netm opened #1103 "Use update operation when creating new fhir resources"
### Issue Context?

Fhir does not allow one to provide a self-defined uuid when creating resources via POST.
However we can do so if we create the resource via an update operation, ie. using PUT.

sample request: PUT to `_{{baseUrl}}/<ResourceType>/<new-uuid>`
body with
[code]

### Issue Implemetation details?

Edit function call at: https://github.com/opensrp/web/blob/9c60f5d81d5aea4cbb2ca1716991

[2022-10-17 11:33] machariamuguku commented on #1103
@p-netm this need's either more fleshing to identify the resources that needs updating or splitting to resource specific issues.

[2022-10-21 09:04] #1094 closed

[2022-10-21 09:04] #1102 closed

[2022-10-24 06:44] p-netm commented on #1103
@machariamuguku This makes sense. I will go ahead and close this issue

[2022-10-24 06:44] #1103 closed

[2022-10-24 11:16] AnnieMungai opened #1104 "[Bug Report]: UNICEF Tunisia web throwing a 504 error"
### Affected Project

UNICEF Tunisia

### How to replicate

Type in the correct url https://web.tunevacc.tn/ and search. The following error is observed.
![image](https://user-images.githubusercontent.com/58034047/197513642-0d23cdb3-a444-4d4b-a44f-eaecda58aa79.png)

### Acceptance criteria

Page should load correctly for the user to be allowed onto the platform.

### Project Contact

Anne Mungai

[2022-10-26 06:10] p-netm commented on #1103
@machariamuguku Are there resources where we should not intend to create them using GUID

[2022-10-26 07:06] machariamuguku commented on #1103
@p-netm I'm not sure. Maybe @dubdabasoduba can help

[2022-10-26 07:07] p-netm commented on #1103
ok, cool.

[2022-10-26 07:08] p-netm opened #1108 "[Draft] Use `FhirService.update` operation even when creating new resources."
Motive: To create resources in a manner that allows us to control what ids are assigned to the resources.

Currently: Several resources are created using [keycloak serviceClass.create](https://github.com/opensrp/web/blob/0db55c455aa39d00eca34ece30406cd96871147f/packages/react-utils/src/helpers/dataLoaders.ts#L55) which sends a post request.
We should change it so that the resources are created usi

[2022-10-26 12:27] #1012 closed

[2022-10-27 09:23] machariamuguku commented on #1104
- caused by opensrp server timeout
- old opensrp web implementation relied on the opensrp server to get user info from keycloak (as a proxy). Server time out during authentication causes express (web authentication server) to also timeout propagating the error to the front end.

[2022-10-27 09:31] #1104 closed

[2022-10-27 11:46] AnnieMungai commented on #1104
@machariamuguku is there an OpenSRP ticket on this?

[2022-10-27 12:37] machariamuguku commented on #1104
@AnnieMungai No. Please create it

[2022-10-31 11:06] dubdabasoduba commented on #1108
@fMurugi how far are we with this?

[2022-10-31 18:39] fMurugi commented on #1108
@dubdabasoduba  I am trying to run the tests

[2022-10-31 19:07] dubdabasoduba commented on #1108
@fMurugi nice, looking forward to the fix. We would like to add it to our Friday release

[2022-10-31 20:18] fMurugi commented on #1108
@dubdabasoduba  okay

[2022-11-02 09:25] p-netm opened #1112 "The CI test pipeline might be broken."

[2022-11-03 20:39] p-netm commented on #1108
closed by #1110

[2022-11-04 07:35] machariamuguku commented on #1095
@dubdabasoduba could you attach a practitioner role resource sample?

[2022-11-08 04:28] machariamuguku commented on #1095
@dubdabasoduba the `code` attribute here seems to expect an array of codeable concept not a codeable concept object

[2022-11-08 09:17] dubdabasoduba commented on #1095
**PracttionerRole Sample for Practitioners**
[code]

**PractitionerRole sample for Supervisors**
[code]

[2022-11-08 09:19] dubdabasoduba commented on #1095
Yah the `display` and `code` on the codingg attribute is static.

[2022-11-11 12:45] p-netm commented on #1112
Must have been a fluke, There was a pr that made changes to the ci workflows, and it seems to have broken ci for prs that had already been created.

[2022-11-11 12:45] #1112 closed

[2022-11-12 21:36] dubdabasoduba commented on #1095
@machariamuguku I reviewed the work and I think I missed something while scoping this.

We are also using the PractitionerRole resource while adding Practitioners to Teams (Organization). Could we just use the same PractitionerRole payload created during practitioner creation instead of creating a new one during team assessment?

[2022-11-12 21:38] dubdabasoduba commented on #1095
Here is a sample of a PractitonerRole used for the team assignment.
[code]

[2022-11-12 21:44] dubdabasoduba commented on #1095
Can we have the team assignment behave as follows?
- [ ] Load the PractitionerRole resource tied to the Practitioner. This can be loaded using a search on the PractitionerRole resource filtered by `practitioner`.
- [ ] Update the PractitionerRole and add the `organization` attribute during the user assigned to the team.
- [ ] In case a user is un-assigned we then remove the `organization` attribut

[2022-11-12 21:44] dubdabasoduba commented on #1095
Let me know if this makes sense.

[2022-11-13 15:51] dubdabasoduba opened #1116 "[FHIR Road Map]: Update the commodity creation to add the commodities to a List resource"
### Issue Context?

- We currently have a [commodity management package](https://github.com/opensrp/web/issues?q=label%3A%22Supply+Chain+Management%22+is%3Aclosed) that represents all the commodities in a group resource.
- These commodities are to be used by all the CHA/CHW (Community Health Worker/Assistant) this means they have to the added to the main configuration files on the FHIR core mobile

[2022-11-13 15:53] dubdabasoduba commented on #1075
Closing this since it's no longer required

[2022-11-13 15:53] #1075 closed

[2022-11-13 15:54] dubdabasoduba commented on #966
@p-netm Can we close this?

[2022-11-13 15:57] dubdabasoduba commented on #941
Closing this it seems to work well.

[2022-11-13 15:57] #941 closed

[2022-11-13 15:57] dubdabasoduba commented on #913
@p-netm Can we close this?

[2022-11-13 15:58] dubdabasoduba commented on #912
@machariamuguku Can we work on this? If yes do you mind adding a description of what needs to be done?

[2022-11-13 15:59] dubdabasoduba commented on #879
Closing this

[2022-11-13 15:59] #879 closed

[2022-11-13 15:59] dubdabasoduba commented on #869
@p-netm Do we still need to fix this?

[2022-11-13 16:02] dubdabasoduba commented on #792
@machariamuguku how far are we with this?

[2022-11-13 16:03] dubdabasoduba commented on #773
Closing this we don't use it much

[2022-11-13 16:03] #773 closed

[2022-11-13 16:04] dubdabasoduba commented on #763
Already added

[2022-11-13 16:04] #763 closed

[2022-11-13 16:05] dubdabasoduba commented on #751
@machariamuguku how far is this?

[2022-11-13 16:06] dubdabasoduba commented on #711
@p-netm do we still need this?

[2022-11-13 16:07] dubdabasoduba commented on #679
@p-netm do we still need this?  If not we can close it.

[2022-11-13 16:08] dubdabasoduba commented on #650
Closing this sine it's already fixed.

[2022-11-13 16:08] #650 closed

[2022-11-13 16:09] dubdabasoduba commented on #649
Completed

[2022-11-13 16:09] #649 closed

[2022-11-13 16:10] dubdabasoduba commented on #627
@bennsimon do we still need this?

[2022-11-13 16:11] dubdabasoduba commented on #594
Closed

[2022-11-13 16:11] #594 closed

[2022-11-13 16:11] dubdabasoduba commented on #567
Closed

[2022-11-13 16:11] #567 closed

[2022-11-13 16:12] dubdabasoduba commented on #547
Comleted

[2022-11-13 16:12] #547 closed

[2022-11-13 16:13] dubdabasoduba commented on #540
Complete

[2022-11-13 16:13] #540 closed

[2022-11-13 16:14] dubdabasoduba commented on #537
@p-netm do we still need this?

[2022-11-13 16:14] #531 closed

[2022-11-13 16:15] dubdabasoduba commented on #489
Closed

[2022-11-13 16:15] #489 closed

[2022-11-13 16:16] dubdabasoduba commented on #462
@p-netm Do we still need this?

[2022-11-13 16:16] dubdabasoduba commented on #442
@p-netm Do we still need this?

[2022-11-13 16:17] dubdabasoduba commented on #419
@p-netm do we need this?

[2022-11-13 16:17] dubdabasoduba commented on #396
Completed

[2022-11-13 16:17] #396 closed

[2022-11-13 16:18] dubdabasoduba commented on #382
@p-netm do we need this?

[2022-11-13 16:19] dubdabasoduba commented on #381
@p-netm Did we implement this?

[2022-11-13 16:19] dubdabasoduba commented on #380
Closing this

[2022-11-13 16:19] #380 closed

[2022-11-13 16:20] dubdabasoduba commented on #379
Completed

[2022-11-13 16:20] #379 closed

[2022-11-13 16:20] dubdabasoduba commented on #378
@p-netm do we need this?

[2022-11-13 16:21] #372 closed

[2022-11-13 16:21] #371 closed

[2022-11-13 16:22] dubdabasoduba commented on #365
@p-netm Do we still need this?

[2022-11-13 16:23] dubdabasoduba commented on #358
completed

[2022-11-13 16:23] #358 closed

[2022-11-13 16:25] dubdabasoduba commented on #355
complete

[2022-11-13 16:25] #355 closed

[2022-11-13 16:25] dubdabasoduba commented on #353
closed

[2022-11-13 16:25] #353 closed

[2022-11-13 16:26] dubdabasoduba commented on #352
completed

[2022-11-13 16:26] #352 closed

[2022-11-13 16:26] dubdabasoduba commented on #336
Closed

[2022-11-13 16:26] #336 closed

[2022-11-13 16:27] dubdabasoduba commented on #301
Fixed

[2022-11-13 16:27] dubdabasoduba commented on #301
Fixed

[2022-11-13 16:27] #301 closed

[2022-11-13 16:28] dubdabasoduba commented on #299
@p-netm Do we still need this?

[2022-11-13 16:30] dubdabasoduba commented on #226
@p-netm do we need this?

[2022-11-13 16:30] dubdabasoduba commented on #212
@p-netm do we need this?

[2022-11-13 16:31] dubdabasoduba commented on #211
fixed

[2022-11-13 16:31] #211 closed

[2022-11-13 16:31] dubdabasoduba commented on #205
fixed

[2022-11-13 16:31] #205 closed

[2022-11-13 16:33] dubdabasoduba commented on #204
@p-netm do we need this?

[2022-11-13 16:33] dubdabasoduba commented on #190
Fixed

[2022-11-13 16:33] #190 closed

[2022-11-13 16:35] dubdabasoduba commented on #152
Completed

[2022-11-13 16:35] #152 closed

[2022-11-13 16:35] dubdabasoduba commented on #151
@p-netm do we need this?

[2022-11-13 16:36] dubdabasoduba commented on #135
Completed

[2022-11-13 16:36] #135 closed

[2022-11-13 16:36] dubdabasoduba commented on #134
@p-netm do we need this?

[2022-11-13 16:37] dubdabasoduba commented on #130
@p-netm please review this

[2022-11-13 16:37] dubdabasoduba commented on #129
@p-netm Please review this

[2022-11-13 16:38] dubdabasoduba commented on #108
@p-netm Do we still need this?

[2022-11-13 16:39] dubdabasoduba commented on #79
@p-netm What do you think?

[2022-11-13 16:40] dubdabasoduba commented on #60
@p-netm Is this worth reviewing?

[2022-11-13 16:41] dubdabasoduba commented on #45
@p-netm does this touch on the CI/CD work you did?

[2022-11-14 13:08] dubdabasoduba opened #1117 "[FHIR Road Map] Practitioner Roles assignment enhancements"
@machariamuguku I reviewed the work and I think I missed something while scoping this.

We are also using the PractitionerRole resource while adding Practitioners to Teams (Organization). Could we just use the same PractitionerRole payload created during practitioner creation instead of creating a new one during team assessment?

Here is a sample of a PractitonerRole used for the team assignment.

[2022-11-15 07:37] bennsimon commented on #627
@dubdabasoduba Yeah we need it. Seems the issue has not been resolved yet.

[2022-11-15 09:52] samkanga opened #1118 "Mission Assignment at Regional Level for EUSM"
### Feature Use Case

The enhancements on mission planning will entail updating the EUSM web and EUSM Mobile to support team assignment at a regional level as opposed to the current district level. Teams/Users can be assigned to multiple regions if required. This assignment will enable users to download data related to all the regions that they will plan on visiting for offline missions. The users

[2022-11-16 07:46] p-netm commented on #1118
@samkanga Geographic levels are identified on the server as a zero-based number i.e. the highest starts at 0. Currently Districts are at geographic level `2`. What level are regions at?

[2022-11-16 07:58] samkanga commented on #1118
@p-netm the regions are at level 1. See the full list of the location levels below.
<google-sheets-html-origin>

Name | Geographical Level
-- | --
Commune | 3
Country | 0
District | 2
Location Name | 5
Region | 1
Service Point | 4

[2022-11-16 08:17] p-netm commented on #1118
ok, thanks.

[2022-11-17 06:25] samkanga opened #1120 "[New Feature Request]: Completing Tasks from OpenSRP Web"
### Feature Use Case

As part of [this](https://github.com/onaio/data-solutions/issues/182) ticket, there is need for a provision within OpenSRP Web to complete the `Flag Problem` that is generated every time a user reports a problem with an inventory item.

Presently, when a user marks an inventory item as having a problem, a flag problem task is generated. To complete the task, a user is require

[2022-11-18 07:41] machariamuguku commented on #751
@dubdabasoduba This never took off. I'll schedule for it

[2022-11-18 07:43] machariamuguku commented on #912
@dubdabasoduba yes. I'll spare time to scope

[2022-11-18 14:07] AnnieMungai opened #1121 "[FHIR Web]: User cannot save a location that was created"
### Affected Project

eCBIS

### How to replicate

Try creating a location on FHIR Web. An error will be thrown.

![image](https://user-images.githubusercontent.com/58034047/202723253-32b08f41-1bb7-42c1-aca2-86c3bf66eb2f.png)

### Acceptance criteria

User should be able to save a location created

### Project Contact

_No response_

### Relevant Information

_No response_

[2022-11-19 04:35] machariamuguku opened #1122 "Location hierarchy view highlights wrong location"
While testing this, noticed a bit of inconsistent behavior, here are the steps to reproduce:

- open server settings, anc-stage configs
- On the location tree on the left, Drill down to the lowest level. from `Uganda` to Jambula Girls
- select/ click Jambula (optional), the last item in the hierarchy
- select the second hierarchy level, Kampala,
- notice it highlights Uganda instead.
- adds confid

[2022-11-21 08:18] p-netm commented on #1121
@AnnieMungai The image in the issue description is too pixelated, one can barely make out the error message. Please update it with a better resolution image.

[2022-11-21 09:33] dubdabasoduba commented on #1121
@p-netm are you getting any errors in your testing?

[2022-11-21 10:52] p-netm commented on #1121
@dubdabasoduba Not yet, though the context is important even when referring to this in the future should the need arise.

[2022-11-24 06:44] #1047 closed

[2022-11-24 07:54] #1077 closed

[2022-11-25 11:58] #1116 closed